@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-border-rotate {
    animation: border-rotate 4s linear infinite;
  }
}

@keyframes border-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
